<% include ./partials/header %>
<div class="container mt-2">
    <div class="col-md-9 mx-auto bg-light border border-light rounded-3">
    <div class="thumbnail">
        <img src="https://image.freepik.com/free-vector/startup-life-concept-illustration_114360-1068.jpg" class="img-responsive" style="object-fit: scale-down;">
    </div>
    <div class="caption-full p-2">
        <p>RentalLiving was created to help people find affordable homes and rent out their place 
            without a hassle.This website is a prototype so their might be some glitches. <p>
        <h3><a href="https://github.com/Shelly011s">-Shelly Suthar</a></h3>
    </div>
</div>
</div>
<% include ./partials/footer %>