<% include ../partials/header %>
<div class="w-50 m-auto border border-success border-2 bg-light rounded p-3 mt-2 mb-2 bg-light text-success">
    
        <h1 style="text-align: center">Add New Comment to <%= house.name %></h1>
        <div style="width: 75%; margin: 25px auto;">
            <form action="/houses/<%= house._id %>/comments" method="POST">                              
                <textarea rows="2" class="form-control mb-2" type="text" name="comment[text]"></textarea>                               
                <button class="btn btn-lg btn-success">Submit!</button>                
            </form>
            <a href="/houses">Go Back</a>
        </div>
    
</div>
<% include ../partials/footer %>

